<div class="container">

  <div class="row">
    <div class="mx-auto mt-5">
      <p class="message-title">送信が完了しました！</p>
    </div>
  </div>

  <div class="row">
    <p class="mx-auto">
      恐れ入りますが、ほっとダイアリー管理者からの返信までしばらくお待ちください。
    </p>
  </div>

  <div class="row">
    <p class="mx-auto mt-3">
      <%= link_to "トップへ", root_path, class: "btn btn-orange px-4" %>
    </p>
  </div>

</div>