<div class="container">
  <h2>お知らせ作成</h2>
  <div class="row">
    <div class="mx-auto">

      <%= form_with model: @news, url: admin_news_index_path, local: true do |f| %>
        お知らせ内容 <%= f.text_field :body %>
        <p class="offset-5 mt-3">
          <%= f.submit "投稿する", class: "btn btn-success" %>
          <%= link_to "戻る", :back, class: "btn btn-secondary" %>
        </p>
      <% end %>

    </div>
  </div>
</div>
