<div class="about-background">
  <div class="container">

    <div class="row">
      <div class="col-md-7">
        <h1 class="my-5">
          <span class="under">ほっとダイアリーとは</span>
        </h1>
        <p class="my-5">
          友達や家族、恋人など関係性は近いけど、<br>
          なかなか会えない…すれ違いが多い…などの理由があったりするはず。<br>
          そんなコミュニケーションが取りづらい時には、交換日記が最適！<br>
          1日の出来事や気持ちを共有できるよう、Web版の交換日記を作成しました。<br>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <h2 class="mb-3">
          <span class="under">使える機能</span>
        </h2>
        <h4>◇グループ機能</h4>
          <p class="mb-4">
            ①グループを新規作成して参加する<br>
            ②既存のグループに参加する<br>
            以上から、グループに参加しているメンバーで交換日記が可能です。<br>
            ※グループの参加には、グループ作成時のパスワードが必要です。
          </p>
        <h4>◇日記機能</h4>
          <p class="mb-4">
            日記の投稿・編集・削除が可能です。<br>
            日記作成時、公開か非公開が選択できます。<br>
            【公開の場合】<br>
            グループ作成者、参加者の全員が日記の閲覧・コメントできます。<br>
            【非公開の場合】<br>
            グループ作成者のみ日記の閲覧・コメントが可能です。<br>
            ※非公開設定は、1人が複数人に対して交換日記をする場合を想定しています。（複数人を担当している方など）
          </p>
        <h4>◇コメント機能</h4>
          <p class="mb-5">作成された日記に対してコメントを投稿・削除することができます。</p>
      </div>
    </div>

  </div>
</div>