<div class="about-background">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h2 class="my-5">ほっとダイアリーとは</h2>
        <p class="my-5">
          ここに説明文を追記する。ここに説明文を追記する。<br>
          ここに説明文を追記する。ここに説明文を追記する。<br>
          ここに説明文を追記する。ここに説明文を追記する。<br>
          ここに説明文を追記する。ここに説明文を追記する。
        </p>
      </div>
    </div>
  </div>
</div>