<h3>ほっとダイアリーの問い合わせフォームより、問い合わせがありました。</h3>

  <p>
    【問い合わせ者】<br>
    <%= @contact.name %> 様
  </p>
  <p>
    【メールアドレス】<br>
    <%= @contact.email %>
  </p>
  <p>
    【お問い合わせ内容】<br>
    <%= @contact.message %>
  </p>