<table class="table table-bordered bg-light">
  <% notifications.each do |notification| %>
    <% visitor = notification.visitor %>
    <% diary = notification.diary %>
    <% group = notification.diary.group %>

    <tr>
      <td>
        <%= notification_form(notification) %><span><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span><br>
        <% if !@comment.nil? %>
          <p class="text-left" style="color: #C0C0C0;"><%= @comment %></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>