<% notifications.each do |notification| %>

  <% visitor = notification.visitor %>
  <% diary = notification.diary %>
  <% group = notification.diary.group %>

  <table class="table table-bordered">
    <tr>
      <%= notification_form(notification) %><span><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span><br>
      <% if !@comment.nil? %>
        <p class="text-center" style="color: #C0C0C0;"><%= @comment %></p>
      <% end %>
    </tr>
  </table>

<% end %>